@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    
}

body{
    background-color: rgb(167, 157, 157);
    font-family: 'Roboto'; sans-serif;
}

.container{
    position: relative;
    width: 375px;
    height: 812px;
    background: #FFFFFF;
    z-index: 1;
    overflow: hidden;
}

.img{
    position: absolute;
    width: 390px;
    height: 165px;
    left: -7px;
    top: -7px;
    background: linear-gradient(0deg, rgba(38, 38, 40, 0.4), rgba(38, 38, 40, 0.4)), url(img/background.png);
    /* filter: blur(1px);   */

}

#avatar{
    position: absolute;
    width: 105px;
    height: 105px;
    left: 142px;
    top: -55px;
}

.wrapper{
    position: absolute;
    width: 375px;
    height: 700px;
    left: 0px;
    top: 112px;
    background: #FFFFFF;
    border-radius: 12px 12px 0px 0px;
}